* {
  font-family: 'Helvetica';
  color: white;
}

body {
  background-color: black;
  color: white;
}

#navbar  {
  background-color: #1b1b1b;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.logo img {
  width: 200px;
  margin-left: 2px;
}

.navnav {
  background-color: #1b1b1b;
  width: 97%;
  align-self: center;
  overflow: auto;
  text-align: center;
  font-size: 12.5px;
}

.main_content_title {
  margin: 40px 0 0 20px;
}

.main_content_title h1 {
  font-size: 20px;
}

.ad img {
  width: 20vw;
}

.ad {
  float: right;
  margin-top: -20px;
  margin-bottom: -50px;
}

.ad p {
  margin-top: -30px;
  margin-left: 50px;
  background-color: transparent;
  text-align: ;
}

.navnav a {
  font-weight: bold;
  text-decoration: none;
  float: left;
  width: 25%;
  display: block;
  padding: 8px 0 8px 0px;
  border-bottom: 3px solid transparent;
  border-top: 0.5px solid #363636;
}

.navnav a.active {
  border-bottom: 2px solid #f4951d;
}

.navnav a:hover {
  border-bottom: 2px solid #f4951d;
}

.main_content {
display: flex;
flex-direction: column;
}

.references {
  align-self: center;
  text-align: center;
}

.references p{
  line-height: 3px;
}


#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 20px 20px 20px;
  margin-top: -18.5vh;
  grid-column-gap: 5vw;
  grid-row-gap: 3vh;
}

.griditem {
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  border: 1px solid #363636;
  height: 100%;
}

.grid_item p {
  font-style: italic;
  font-size: 1.3rem;
}

.main_content_2 {
  display: flex;
  flex-direction: column;
}

.stats {
  margin: 0 20px 0 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats h3 {
  font-weight: 400;
  line-height: 35px;
}

.stats img{
  float: left;
  height: 60vh;
  padding: 0px 20px 0 0;
}
