* {
  font-family: 'Helvetica';
  color: white;
}

body {
  background-color: black;
  color: white;
}

#navbar  {
  background-color: #1b1b1b;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.logo img {
  width: 200px;
  margin-left: 2px;
}

.navnav {
  background-color: #1b1b1b;
  width: 97%;
  align-self: center;
  overflow: auto;
  text-align: center;
  font-size: 12.5px;
}

.sub_title {
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px 0px;
}

.sub_title button{
  width: 100px;
  height: 30px;
  align-self: center;
  background-color: #f4951d;
  padding: 4px 4px 4px 4px;
  margin-bottom: 19px;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none;
  border: 0 solid transparent;
  border-radius: 2pt;
}

.sub_title a {
  text-decoration: none;
}

.sub_title h4, .sub_title h2{
  color: #878787;
  font-weight: 300;
  line-height: 0pt;
  text-align: center;
  padding: 0;
  margin: 5px 0 19px 0;
}

.main_content_title {
  margin: 40px 0 0 20px;
}

.main_content_title h1 {
  font-size: 20px;
}

.ad img {
  width: 20vw;
}

.ad {
  float: right;
  margin-top: -20px;
  margin-bottom: -50px;
}

.ad p {
  margin-top: -30px;
  margin-left: 50px;
  background-color: transparent;
  text-align: ;
}

.navnav a {
  font-weight: bold;
  text-decoration: none;
  float: left;
  width: 25%;
  display: block;
  padding: 8px 0 8px 0px;
  border-bottom: 3px solid transparent;
  border-top: 0.5px solid #363636;
}

.community a {
  font-weight: bold;
  text-decoration: none;
  float: left;
  display: block;
  padding: 8px 15px 8px 15px;
  border-bottom: 3px solid transparent;
  border-top: 0.5px solid #363636;

}

.community {
  background-color: #202020;
  margin: 0 0 0 20px;
  /* opacity: 10%; */
}

.navnav a.active , .community a.active{
  border-bottom: 2px solid #f4951d;
}

.navnav a:hover , .community a:hover {
  border-bottom: 2px solid #f4951d;
}

.main_content {
display: flex;
flex-direction: column;
}

.references {
  align-self: center;
  text-align: center;
}

.references p {
  line-height: 0px;
  font-size: 10pt;

}

.references a {
  color: 	#484848;

}


#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 20px 20px 20px;
  margin-top: -18.5vh;
  grid-column-gap: 5vw;
  grid-row-gap: 3vh;
}

#content_pros_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 20px 20px 20px;
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  text-align: center;
}

.grid_item_5 img {
  width: 18vw;
}

.grid_item_5 h3 {
  color: #f4951d;
  font-size: 85%;
}

.griditem {
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  border: 1px solid #363636;
  height: 100%;
}

.grid_item p {
  font-style: italic;
  font-size: 1.3rem;
}

.psych {
  display: flex;
  padding-top: 10px;
}

#grid-3 , #grid-4{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1.5vh;
}

.grid_item-4 img.pin , .grid_item-3 img.pin {
  float: right;
  width: 25px;
}

.grid_item-4 p.pin , .grid_item-3 p.pin{
  float: right;
  margin-top: -50px;
  margin-right: 30px;
}

.pinned {
  border: #f4951d solid 1px;
}

#grid-6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5vh;
  grid-column-gap: .5vw;
  /* padding: 0 20px 0 20px; */
}

.grid_item-6 h3 {
  color: #f4951d;
}

.article {
  font-style: italic;
  margin: 0 10px 0 10px;
}

 .grid_item-6{
   background-color: #202020;
   padding: 10px;
   margin: 10px 20px 10px 20px;
 }

.grid_item-3 , .grid_item-4 {
  background-color: #202020;
  padding: 10px 10px 10px 10px;
  margin: 5px 20px 5px 20px;
}

.grid_item-3 img, .grid_item-4 img {
  width: 40px;
}

.grid_item-3 h3, .grid_item-4 h3{
  color: #f4951d;
  margin-left: 50px;
  margin-top: -30px;
}

.grid_item-3 p , .grid_item-4 p, .grid_item-4 li{
  color: #b8b8b8;
}

.grid_item-4 li {
  font-size: 90%;
}

.pinned li.last {
  margin-bottom: 10px;
}

.main_content_2 {
  display: flex;
  flex-direction: column;
}

.stats {
  margin: 0 20px 0 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats h3 {
  font-weight: 400;
  line-height: 35px;
}

.stats img{
  float: left;
  height: 60vh;
  padding: 0px 20px 0 0;
}
